node_modules
.env
.env.*
!.env.example
dist
node_modules/
dist/
generated/
.env
/generated/prisma
scripts/
.vercel/
vercel.json
/src/prisma/generated

# Lock Files
pnpm-lock.yaml
yarn.lock
package-lock.json
pnpm-workspace.yaml
.vscode
